/target
/Cargo.lock

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/venv/
**/.venv/
**/.ruff_cache/

**/.psalm/

.env
.env.*
!.env.example

*.log
**/assets/original_images/
dev/
dev.sh
release.sh
.cargo/credentials.toml
publish.sh
